{{ form_start(form) }}

<div class="row">

    <div class="col-sm-12 col-md-6">
        {{ form_row(form.model) }}
    </div>

    <div class="col-sm-12 col-md-6">
        {{ form_row(form.price) }}
    </div>
    
    <div class="col-12">
        {{ form_row(form.manufacturer) }}
    </div>

    <div class="col-12">
        {{ form_row(form.image) }}
    </div>

     <div class="col-12">
        {{ form_row(form.category) }}
    </div>

    <div class="col-12">
        {{ form_row(form.chipset) }}
    </div>

</div>

<button class="btn btn-primary mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}